body {
    min-height: 100vh;
    background: url('../Assets/Clocktower-Dusk.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
}

header {
    position: fixed;
	top: 0;
	left: 0;
    background-color: #333;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
}
header nav {
    display: flex;
    justify-content: space-evenly;
    color: #f4f4f4;
    text-decoration-style: none;
}
header a{
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.5s;
    display: inline-block;
}
header a:hover{
    transform: scale(1.15);
}
.ProjectName  {
    font-size: 2em;
    color: white;
    user-select: none;
}

.FeedbackForm{
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    width: 25%;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.FeedbackForm input,
.FeedbackForm textarea, 
.FeedbackForm button {
    margin: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.FeedbackForm h2 {
    font-size: 2em;
    color: antiquewhite;
    user-select: none;
    padding-bottom: 20px;
}

.FeedbackForm label {
    font-size: 1.2em;
    color: antiquewhite;
    user-select: none;
}