/* Global Modifiers */
body {
    background-color: #EAE4DB;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Header */

header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    width: 100vw;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    color:#f4f4f4;
}

header a {
    text-decoration-style: none;
    color: white;
}

.ProjectName  {
    font-size: 2em;
    color: white;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

/* OVERALL REMINDER */
.OverallReminder {
    background-color: #A60F2D;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin:10px;
}

/*SAFETY INFORMATION*/
/*Active Shooter*/
.ActiveShooterContainer {
    color: #333;
    padding: 3px;
    margin:10px;
}

.ActiveShooterContainer h2 {
   text-decoration-line: underline;
}

/*Fire Safety*/
.FireSafety {
    color: #333;
    padding: 3px;
}
/*Medical Safety and Advice*/

/*Sexual Assault and Rape*/

/* footer */
footer {
    position: relative;
    background-color: #A60F2D;
    color: white;
    padding: 5px;
    text-align: center;
    margin: 0px -13px -13px -13px;
    border-top: 4px solid maroon;
}