/* Global Modifiers */
body {
    background-color: #EAE4DB;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Header */

header {
    position: static;
    width:fit-content 100;
    height: 50px;
    padding: 15px 100px;
    background: grey;
    border-bottom:4px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ProjectName  {
    font-size: 2em;
    color: white;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

/* OVERALL REMINDER */
.OverallReminder {
    background-color: #A60F2D;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin:10px;
}

/*SAFETY INFORMATION*/
/*Active Shooter*/
.ActiveShooterContainer {
    color: #333;
    padding: 3px;
    margin:10px;
}

.ActiveShooterContainer h2 {
   text-decoration-line: underline;
}

/*Fire Safety*/
.FireSafety {
    color: #333;
    padding: 3px;
}
/*Medical Safety and Advice*/

/*Sexual Assault and Rape*/

/* footer */
footer {
    position: relative;
    background-color: #A60F2D;
    color: white;
    padding: 5px;
    text-align: center;
    margin: 0px -13px -13px -13px;
    border-top: 4px solid maroon;
}