body {
    overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: url(../Assets/loginbg.jpg);
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    background: url(../Assets/WSUPD-Cars.jpg) no-repeat center center/cover;
}

.header {
    position: fixed;
	top: 0;
	left: 0;
    background-color: #333;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
}
.header nav {
    display: flex;
    justify-content: space-evenly;
    color: #f4f4f4;
    text-decoration-style: none;
}
.header a{
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.5s;
    display: inline-block;
}
.header a:hover{
    transform: scale(1.15);
}
.ProjectName  {
    font-size: 2em;
    color: white;
    user-select: none;
}

.container {
    position: absolute;
    top: 20%;
    align-items: center;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.container h2 {
    text-align: center;
}

.container label,
input,
textarea,
button,
select {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

textarea {
    resize: none;
}

#loading-spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}